name: React CI/CD

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'

jobs:
  test:
    if: github.ref_name == 'staging' || github.ref_name == 'master'
    uses: ./.github/workflows/test.yml
    secrets: inherit
    with:
      branch: ${{ github.ref_name }}

  deploy:
    needs: test
    if: github.event_name == 'push' && (github.ref_name == 'staging' || github.ref_name == 'master')
    uses: ./.github/workflows/deploy.yml    
    secrets: inherit
    with:
      branch: ${{ github.ref_name }}
